$mainFont: #fff;
$description: #f2f2f2;
$blackFont: #020202;
$hint: #919191;
$grayDescription: #525252;
.fw400 {
  font-weight: 400;
}
.fw700 {
  font-weight: 700;
}
.fw900 {
  font-weight: 900;
}
.fz14 {
  font-size: 14px;
}
.fz16 {
  font-size: 16px;
}
.fz20 {
  font-size: 20px;
}
.fz32 {
  font-size: 32px;
}
.fz48 {
  font-size: 48px;
}
.fz80 {
  font-size: 80px;
}
.fz120 {
  font-size: 120px;
}
.lh120 {
  line-height: 120%;
}
.lh150 {
  line-height: 150%;
}
.od0 {
  order: 0;
}
.od1 {
  order: 1;
}
.od2 {
  order: 2;
}
.od3 {
  order: 3;
}
.od4 {
  order: 4;
}
.whiteBG {
  background: #fff;
}
.mr20 {
  margin-right: 20px;
}
.mr24 {
  margin-right: 24px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb100 {
  margin-bottom: 100px;
}
.mb160 {
  margin-bottom: 160px;
}
.pr118 {
  padding-right: 118px;
}
.pl118 {
  padding-left: 118px;
}

.w160 {
  width: 160px;
}
.h40 {
  height: 40px;
}

.p20-32 {
  padding: 20px 32px;
}
