html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.fw400 {
  font-weight: 400;
}

.fw700 {
  font-weight: 700;
}

.fw900 {
  font-weight: 900;
}

.fz14 {
  font-size: 14px;
}

.fz16 {
  font-size: 16px;
}

.fz20 {
  font-size: 20px;
}

.fz32 {
  font-size: 32px;
}

.fz48 {
  font-size: 48px;
}

.fz80 {
  font-size: 80px;
}

.fz120 {
  font-size: 120px;
}

.lh120 {
  line-height: 120%;
}

.lh150 {
  line-height: 150%;
}

.od0 {
  order: 0;
}

.od1 {
  order: 1;
}

.od2 {
  order: 2;
}

.od3 {
  order: 3;
}

.od4 {
  order: 4;
}

.mr8 {
  margin-right: 8px;
}

.mr20 {
  margin-right: 20px;
}

.mr24 {
  margin-right: 24px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb100 {
  margin-bottom: 100px;
}

.mb160 {
  margin-bottom: 160px;
}

.pr118 {
  padding-right: 118px;
}

.pl118 {
  padding-left: 118px;
}

.w160 {
  width: 160px;
}

.h40 {
  height: 40px;
}

.p20-32 {
  padding: 20px 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.header .menu {
  display: flex;
  align-items: center;
}
.header .menu li a {
  text-decoration: none;
  color: #fff;
}

.banner {
  margin-bottom: 100px;
}
.banner h2 {
  margin-bottom: 40px;
}
.banner .startButton a {
  outline: 1px solid #fff;
  padding: 20px 40px;
  border-radius: 16px;
  text-decoration: none;
}

.animation {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 160px;
}

.section2 {
  margin-bottom: 160px;
}
.section2 .service {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.section2 .service h3 {
  margin-right: 24px;
  flex: 1 1 200px;
}
.section2 .service h1 {
  flex: 1 1 600px;
}
.section2 .serviceList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section2 .serviceList .serviceCard {
  outline: 1px solid #525252;
  border-radius: 16px;
  padding: 80px 40px;
  width: 25%;
}
.section2 .serviceList .serviceCard h3 {
  padding: 20px 0;
}

.section3 {
  max-width: 1296px;
  margin: 0 auto;
  overflow: hidden;
}
.section3 h3 {
  margin-bottom: 80px;
}
.section3 .logoBar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.section3 .logoBar img {
  width: 160px;
  height: 40px;
}

.recommendList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.recommendCard {
  padding: 40px;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  flex-direction: column;
  display: flex;
}
.recommendCard p {
  margin-bottom: 20px;
  flex-grow: 1;
  order: 1;
}

.star {
  margin-bottom: 20px;
  order: 0;
}

.user {
  order: 2;
  display: flex;
  align-items: center;
}
.user .pic {
  margin-right: 16px;
  width: 48px;
  height: 48px;
}
.user .bref {
  display: flex;
}

.whiteBG {
  background-color: #fff;
  border-radius: 160px;
}

.section4 {
  max-width: 1296px;
  margin: 0 auto;
}

.slogan {
  margin-bottom: 80px;
  padding-top: 160px;
  text-align: center;
}
.slogan h3 {
  color: #020202;
}

.searchBar {
  margin-bottom: 24px;
  display: flex;
  background: #f2f2f2;
  width: 100%;
  border-radius: 16px;
  align-items: center;
}
.searchBar svg {
  padding: 20px 0 20px 40px;
}
.searchBar p {
  color: #919191;
  align-items: center;
  padding-left: 12px;
}

.tagBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.tagBar .select {
  outline: 1px solid #f2f2f2;
  border-radius: 16px;
  display: flex;
  align-items: center;
  order: 0;
  padding: 20px 24px 20px 40px;
  cursor: pointer;
}
.tagBar .select .choose {
  color: #020202;
  padding-right: 12px;
}

.tag {
  display: flex;
  order: 1;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.tag li a {
  padding: 8px 16px;
  gap: 10px;
  color: #919191;
  text-decoration: none;
}
.tag li a:hover, .tag li a:focus {
  color: #020202;
  background: #f2f2f2;
  border-radius: 16px;
  font-weight: 700;
}

.sequence {
  outline: 1px solid #f2f2f2;
  border-radius: 16px;
  padding: 20px 24px 0px 40px;
  gap: 12px;
  order: 2;
  align-items: center;
}
.sequence a {
  display: flex;
  align-items: center;
}
.sequence a p {
  color: #020202;
  order: 0;
  padding-right: 12px;
}
.cardList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cardList .card {
  width: 416px;
  margin-bottom: 24px;
  border-radius: 16px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.cardList .card .pic {
  width: 100%;
  height: 312px;
  border-radius: 16px 16px 0 0;
  display: block;
}
.cardList .card .summary {
  flex-grow: 1;
}
.cardList .card .summary h3 {
  margin-bottom: 12px;
  color: #020202;
}
.cardList .card .summary p {
  color: #525252;
}
.cardList .card .name {
  display: flex;
  justify-content: space-between;
}
.cardList .card .name p {
  color: #020202;
}
.cardList .card .sort {
  display: flex;
  justify-content: space-between;
}
.cardList .card .sort p {
  color: #020202;
}

.share {
  display: flex;
}
.share img {
  align-items: center;
}

.line {
  outline: 1px solid #f2f2f2;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 160px;
}
.pagination li a {
  padding: 16px;
  text-decoration: none;
  color: #020202;
}
.pagination li a:hover, .pagination li a:focus {
  background: #020202;
  color: #fff;
  border-radius: 16px;
}

.section5 {
  text-align: center;
}
.section5 .startButton {
  margin-top: 40px;
  padding: 20px 40px;
  outline: 1px solid #fff;
  border-radius: 16px;
  display: flex;
  display: inline-flex;
}
.section5 .startButton svg {
  margin-left: 12px;
  align-self: center;
}

.section6 {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}

.Link {
  display: flex;
  flex-direction: column;
}
.Link a {
  text-decoration: none;
}

.footer {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.SNS {
  justify-content: flex-start;
  margin-left: 100px;
  flex-grow: 1;
}
.SNS a {
  text-decoration: none;
  padding: 12px 0;
}

.btt {
  text-decoration: none;
}
.btt .upArrow {
  padding-left: 12px;
}

@media screen and (max-width: 376px) {
  .header,
  .banner {
    margin: 0 12px;
  }
  .animation {
    margin: 180px 12px 120px 12px;
    max-width: 45%;
  }
  .service {
    margin: 0 12px;
  }
  .service h3 {
    margin-bottom: 24px;
  }
  .serviceCard {
    width: 100%;
    margin: 12px;
  }
  .section3 h3 {
    margin: 120px 12px 24px 12px;
  }
  .recommendCard {
    margin: 0 12px;
    width: 100%;
  }
  .whiteBG {
    border-radius: 20px;
  }
  .section4 h3 {
    font-size: 32px;
    text-align: center;
    margin: 0 12px;
  }
  .section4 .searchBar {
    width: 94%;
    margin-top: 32px;
    margin-left: 12px;
  }
  .section4 .tag {
    order: 2;
  }
  .section4 .sequence {
    order: 1;
  }
  .section4 .card {
    margin: 0 12px 12px 12px;
  }
  .section4 .pagination {
    margin: 20px 12px 0px 12px;
  }
  .section6 {
    display: flex;
    flex-direction: column;
    margin: 0 12px;
  }
  .section6 .Link {
    order: 1;
  }
  .section6 .logo {
    order: 0;
    margin-bottom: 20px;
  }
  .footer {
    margin: 0 12px;
  }
  .footer .SNS {
    order: 2;
    margin: 24px 0 32px 0px;
  }
  .footer .btt {
    order: 1;
  }
}
* {
  font-family: "Noto Sans TC", sans-serif;
  color: #fff;
}

body {
  background: #1e1e1e;
}

.wrap {
  padding-top: 20px;
  max-width: 1296px;
  margin: 0 auto;
}

.animation,
.section2,
.section3,
.section4,
.section5,
.section6 {
  margin-bottom: 160px;
}

img {
  max-width: 100%;
  height: auto;
}/*# sourceMappingURL=all.css.map */